*
{
    font-family: Arial , Verdana , sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(../pictures/prospect2.png);
    background-attachment:fixed;
    background-color:white;
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;

}


h3{
    text-align: center;
    color: whitesmoke;
}

h5{
    color: whitesmoke;
    text-decoration: underline #0fafeb ;

}

p{
    color: whitesmoke;
}
img{
    width: 15vw;
    border: solid 1px whitesmoke;;
    margin-left: 1vw;
}

.media-body{
    text-align: center;
}


.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: whitesmoke;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

form{
    color: whitesmoke;
}


.btn{
    border-radius: 0;
    background-color: transparent;
    color : whitesmoke;
    border: 3px solid #0fafeb;
    display: inline-block;
    font-weight: 400;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input{
    color: whitesmoke;
    border: 3px solid #0fafeb;

}

a {
    color: #0fafeb;
    text-decoration: none;
    background-color: transparent;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    color: whitesmoke;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    text-align: center;
}
